<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> 

	<link href="http://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.css" rel="stylesheet" type="text/css">

	<link
    href="http://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.0.min.css" rel="stylesheet" type="text/css">

	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js"crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.0.min.js" crossorigin="anonymous"></script>
	<script src="http://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.0.min.js"></script>
	
	<title>Bokeh Charts</title> 
</head> 

<body> 

	<div class="container"> 
		<h1 class="text-center py-4">Dialectes</h1> 
		<div class="row mb-5"> 
			<div class="col-md-6"> 
				<br>
				<h4 class="text-center">Bar plot responsive</h4> 
				{{ div[0] | safe }} 
				{{ script[0] | safe }}
			</div> 
			<div class="col-md-6"> 
				<br>
				<h4 class="text-center">Tableau des entrées avec leur texte, transcription et catégorie dialectale</h4> 
				<br>
				{{ div[1] | safe }} 
				{{ script[1] | safe }}  
			</div> 
		</div> 
		
	</div> 

</body>

</html>

